<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="screen" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%m%n</pattern>
    </encoder>
  </appender>
  <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>logs/pagerank.log</File>
    <encoder>
      <pattern>%m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>2</maxIndex>
      <FileNamePattern>logs/pagerank.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>5MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  <root level="INFO">
    <appender-ref ref="screen"/>
    <appender-ref ref="rollingFile"/>
  </root>
</configuration>